manifest {
	author = "Christian Schudoma"
	defaultBranch = "main"
	description = "Multiomics analytics"
	name = "nevermore_multi"
	version = "0.1"
}

process {
	withName: prepare_fastqs {
		executor = "local"
		scratch = null
		container = null
	}
	withName: calculate_library_size_cutoff {
		executor = "local"
		scratch = null
		container = null
	}
    withName: fastqc {
        container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    }
    withName: multiqc {
        container = "quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0"
	}
    withName: flagstats {
        container = "quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1"
    }
    withLabel: kraken2 {
        //container = "quay.io/biocontainers/kraken2:2.1.3--pl5321hdcf5f25_0"
        container = "registry.git.embl.de/schudoma/kraken2-docker:latest"
    }
    withLabel: bbduk {
        container = "quay.io/biocontainers/bbmap:39.06--h92535d8_0"
    }    
	withName: merge_single_fastqs {
        container = "quay.io/biocontainers/bbmap:39.06--h92535d8_0"
    }    
	withName: sortmerna {
	    container = "quay.io/biocontainers/sortmerna:4.3.6--h9ee0642_0"
    }
	withName: prodigal {
		container = "quay.io/biocontainers/prodigal:2.6.3--h031d066_8"
	}
	withName: unicycler {
		container = "quay.io/biocontainers/unicycler:0.5.0--py38h5cf8b27_3"		
	}
	withLabel: salmon {
		container = "quay.io/biocontainers/salmon:1.10.3--hb7e2ac5_1"
	}
	withName: memote {
		container = "quay.io/biocontainers/memote:0.17.0--pyhdfd78af_0"
	}
	withName: carveme {
		container = "registry.git.embl.de/schudoma/carveme-docker:latest"
	}
}

params {

	dna_input_dir = null
	rna_input_dir = null
	long_reads_input_dir = null

	output_dir = null

	run_preprocessing = true
	remove_host = false
	drop_orphans = false
	qc_minlen = 45
	qc_params_shotgun = "qtrim=rl trimq=3 maq=25 ktrim=r k=23 mink=11 hdist=1 ftm=5 entropy=0.5 entropywindow=50 entropyk=5 tpe tbo"
    remove_host_kraken2_db = null
    kraken2_min_hit_groups = 10
    run_sortmerna = false
    sortmerna_db = null
	
	// preprocessing
	subsample_percentile = 100
	subsample_random_seed = 313

}



docker {
	enabled = true
}